body{
	text-align:justify;
	margin:20px 20px
}
a{
	font-size:20px; 
	color:teal; 
	margin-right:10px; 
	text-decoration:none;
	height:200px;
	width:200px;
	display:blank;
	font-weight:bold;
	padding:30px 50px
}

a:hover{
	color:lightgreen;
	background:teal;
transition-duration:0.3s;}